.listar_page__container{
    padding: 2rem 3rem;
    
    & .listar_page__hero_section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .8rem;
        margin-bottom: 2rem;
    }

    & .listar_page__users_icon{
        stroke: var(--primary-color);
        fill: none;
        width: 35px;
        height: 35px;
    }

    & .listar_page__title_divider{
        display: flex;
        gap: 1rem;
        align-items:center;
    }

    & .listar_page__title{
        color: var(--text-color);
    }
    
    & .listar_page__description{
        color: var(--text-gray);
    }
    
    & .listar_page__main_button{
        display:flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;
        background-color: var(--primary-color);
        color: var(--background-white);
        text-decoration: none;
		border-radius: 8px;
		transition: background-color 0.2s ease;
		text-align: center;
		padding: .5rem;
		&:hover {
			color: var(--background-white);
			background-color: var(--secondary-color);
		} 
		
		& svg{
		    width: 20px;
		    height: 20px;
		}
    }
    
    & .listar_page__dashboard_head{
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: 1fr; gap: 1rem; 
        align-items: center;

        & > .card_pacientes {
            border-radius: 8px;
            padding: 1.5rem;
            height: 100%;
            background-color: var(--background-white);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            color: var(--text-color);

            & > .total_pacientes_card_title{
                font-size: 1rem;
                font-weight: 600;
            }

            & svg{
                width: 30px;
                height: 30px;
                stroke: var(--primary-color);
                fill: none;
                text-align: center;
            }
            & .total_pacientes_card_number{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;
                font-size: 3rem;
                font-weight: bold;
                color: var(--text-color);
            }

            & .total_pacientes_card_title{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                width: 100%;
                text-align: center;
                color: var(--text-color);
            }
        }

        & #filtro{
            grid-column: 1 / span 2;
        }

        & #total_pacientes{
            grid-column: 3;
        }

        & #total_resultados{
            grid-column: 4;
        }

        #form_filter{
            display: flex;
            flex-direction: column;
            gap: .5rem;

            & input{
                flex: 1;
                padding: .3rem .5rem;
                border: 1px solid var(--border-color);
                border-radius: 4px;
                font-size: .9rem;
            }

            & button{
                background-color: var(--primary-color);
                color: var(--background-white);
                border: none;
                font-size: 1rem;
                padding: .4rem 1rem;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: var(--secondary-color);
                }
            }
        }
    }

    & #total_pacientes, #total_resultados{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    & .listar_page__table_section{
        margin-top: 2.5rem;
        padding: 1.5rem;
        border-radius: 8px;
        background-color: var(--background-white);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        min-height: 300px;

        & .paciente_table_title{
            font-size: .9rem;
            font-weight: 600;
            margin-bottom: .1rem;
            color: var(--primary-color);
        }

        & .paciente_table_description{
            font-size: .8rem;
            color: var(--text-gray);
            margin-bottom: 1.5rem;
        }

        & #pacientes_table{
            width: 100%;
            border-collapse: collapse;
            
            & .text-center{
                text-align: center;
                color: var(--text-gray);
            }

            & th, td{
                padding: .4rem 1rem;
                text-align: left;
                border-bottom: 1px solid var(--border-color);
                font-size: .95rem;
                color: var(--text-color);
            }

            & th{
                font-weight: 600;
            }

            & tbody tr:hover{
                background-color: #f9f9f9;
            }
            
            & tbody tr td {
              max-width: 200px;       /* límite de ancho */
              white-space: nowrap;    /* evita saltos de línea */
              overflow: hidden;       /* oculta el contenido que sobra */
              text-overflow: ellipsis;
            }

            & tbody .action_button{
                display: flex;
                gap: .1rem;
                background-color: red;

                & #edit_button, & #show_button{
                    padding: .2rem;
                    text-decoration: none;
                    text-align: end;
                }

                & #edit_button svg{
                    stroke: var(--primary-color);
                    width: 15px;
                    height:15px;
                }

                & #show_button svg{
                    stroke: var(--text-color);
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    
    & #pacientes_table .action-button a {
        text-decoration: none;
    }
    

    & #pacientes_table .action-button .show-button svg {
        stroke: var(--primary-color);
    }
    
    & #pacientes_table .action-button .show-button:hover{
            & svg{
               stroke: #333;
            }
    }

    & #pacientes_table .action-button .edit-button svg {
        stroke: orange;
    }
    
     & #pacientes_table .action-button .edit-button:hover{
            & svg{
                stroke: #eb7734;
            }
    }
    
    & .pagination{
        display: flex;
        gap: 3rem;
        align-items: center;
        margin-top: 1.5rem;
        
        & button {
            background-color: lightgray;
            padding: .5rem .8rem;
            border: none;
            border-radius: 8px;
            transition: backgound-color 0.5s ease-in;
            cursor: pointer;
            width: 110px;
        }
        
        & button:hover {
            background-color: #eee;
            padding: .5rem .8rem;
            border: none;
            border-radius: 8px;
        }
        
        & button:disabled {
          cursor: not-allowed;
          opacity: 0.6;
        }
        
        & button:disabled:hover {
          background-color: #eee;
          transform: none;
          box-shadow: none;
        }
    }

}


