.listar_page__container {
    padding: 2rem 3rem;
}

.listar_page__container .listar_page__hero_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
    margin-bottom: 2rem;
}

.listar_page__container .listar_page__users_icon {
    stroke: var(--primary-color);
    fill: none;
    width: 35px;
    height: 35px;
}

.listar_page__container .listar_page__title_divider {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.listar_page__container .listar_page__title {
    color: var(--text-color);
}

.listar_page__container .listar_page__description {
    color: var(--text-gray);
}

.listar_page__container .listar_page__main_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    background-color: var(--primary-color);
    color: var(--background-white);
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    text-align: center;
    padding: .5rem;
}

.listar_page__container .listar_page__main_button:hover {
    color: var(--background-white);
    background-color: var(--secondary-color);
}

.listar_page__container .listar_page__main_button svg {
    width: 20px;
    height: 20px;
}

.listar_page__container .listar_page__dashboard_head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    align-items: center;
}

.listar_page__container .listar_page__dashboard_head > .card_pacientes {
    border-radius: 8px;
    padding: 1.5rem;
    height: 100%;
    background-color: var(--background-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.listar_page__container .listar_page__dashboard_head > .card_pacientes > .total_pacientes_card_title {
    font-size: 1rem;
    font-weight: 600;
}

.listar_page__container .listar_page__dashboard_head > .card_pacientes svg {
    width: 30px;
    height: 30px;
    stroke: var(--primary-color);
    fill: none;
    text-align: center;
}

.listar_page__container .listar_page__dashboard_head > .card_pacientes .total_pacientes_card_number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
}

.listar_page__container .listar_page__dashboard_head > .card_pacientes .total_pacientes_card_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    text-align: center;
    color: var(--text-color);
}

.listar_page__container .listar_page__dashboard_head #filtro {
    grid-column: 1 / span 2;
}

.listar_page__container .listar_page__dashboard_head #total_pacientes {
    grid-column: 3;
}

.listar_page__container .listar_page__dashboard_head #total_resultados {
    grid-column: 4;
}

.listar_page__container .listar_page__dashboard_head #form_filter {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.listar_page__container .listar_page__dashboard_head #form_filter input,
.listar_page__container .listar_page__dashboard_head #form_filter select {
    flex: 1;
    padding: .3rem .5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: .9rem;
}

.listar_page__container .listar_page__dashboard_head #form_filter button {
    background-color: var(--primary-color);
    color: var(--background-white);
    border: none;
    font-size: 1rem;
    padding: .4rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.listar_page__container .listar_page__dashboard_head #form_filter button:hover {
    background-color: var(--secondary-color);
}

.listar_page__container #total_pacientes,
.listar_page__container #total_resultados {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.listar_page__container .listar_page__table_section {
    margin-top: 2.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: var(--background-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

.listar_page__container .listar_page__table_section .paciente_table_title {
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: .1rem;
    color: var(--primary-color);
}

.listar_page__container .listar_page__table_section .paciente_table_description {
    font-size: .8rem;
    color: var(--text-gray);
    margin-bottom: 1.5rem;
}

.listar_page__container .listar_page__table_section #pacientes_table {
    width: 100%;
    border-collapse: collapse;
}

.listar_page__container .listar_page__table_section #pacientes_table .text-center {
    text-align: center;
    color: var(--text-gray);
}

.listar_page__container .listar_page__table_section #pacientes_table th,
.listar_page__container .listar_page__table_section #pacientes_table td {
    padding: .4rem 1rem;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    font-size: .95rem;
    color: var(--text-color);
}

.listar_page__container .listar_page__table_section #pacientes_table th {
    font-weight: 600;
}

.listar_page__container .listar_page__table_section #pacientes_table tbody tr:hover {
    background-color: #f9f9f9;
}

.listar_page__container .listar_page__table_section #pacientes_table .sexo-badge {
    background-color: black;
    color: white;
    padding: 0.25rem 0.6rem;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    display: inline-block;
    min-width: 70px;
    text-align: center;
}

.listar_page__container .listar_page__table_section #pacientes_table tbody tr td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listar_page__container .listar_page__table_section #pacientes_table tbody .action_button {
    display: flex;
    gap: .1rem;
    background-color: red;
}

.listar_page__container .listar_page__table_section #pacientes_table tbody .action_button #edit_button,
.listar_page__container .listar_page__table_section #pacientes_table tbody .action_button #show_button {
    padding: .2rem;
    text-decoration: none;
    text-align: end;
}

.listar_page__container .listar_page__table_section #pacientes_table tbody .action_button #edit_button svg {
    stroke: var(--primary-color);
    width: 15px;
    height: 15px;
}

.listar_page__container .listar_page__table_section #pacientes_table tbody .action_button #show_button svg {
    stroke: var(--text-color);
    width: 20px;
    height: 20px;
}

.listar_page__container #pacientes_table .action-button a {
    text-decoration: none;
}

.listar_page__container #pacientes_table .action-button .show-button svg {
    stroke: var(--primary-color);
}

.listar_page__container #pacientes_table .action-button .show-button:hover svg {
    stroke: #333;
}

.listar_page__container #pacientes_table .action-button .edit-button svg {
    stroke: orange;
}

.listar_page__container #pacientes_table .action-button .edit-button:hover svg {
    stroke: #eb7734;
}

.listar_page__container .pagination {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-top: 1.5rem;
}

.listar_page__container .pagination button {
    background-color: lightgray;
    padding: .5rem .8rem;
    border: none;
    border-radius: 8px;
    transition: backgound-color 0.5s ease-in;
    cursor: pointer;
    width: 110px;
}

.listar_page__container .pagination button:hover {
    background-color: #eee;
    padding: .5rem .8rem;
    border: none;
    border-radius: 8px;
}

.listar_page__container .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.listar_page__container .pagination button:disabled:hover {
    background-color: #eee;
}

.listar_page__container .listar_page__dashboard_head #form_filter #search-button svg {
    width: 16px;
    height: 16px;
    stroke: white;
}